<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tous mes projet</h1>
    {% for project in projects %}
        <a href="/project/{{ project.id }}">Projet : {{ project.name }}</a><br>
    {% endfor %}
</body>
</html>